/**
 * op-core/Template/css/AdminNotice.css
 * 
 * @creation  2016-01-18
 * @version   1.0
 * @package   op-core
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

@CHARSET "UTF-8";

#admin-notice{
	border: 0px solid black;
	_font-family: monospace;
}

#admin-notice table{
	border-collapse: collapse;
	margin-left: 1em;
}

#admin-notice td.no{
	width: 1.5em;
	text-align: right;
}

#admin-notice tr.notice{
	border: 1px solid #cc9;
	background-color: #cfc;
	color: black;
}

#admin-notice div.headline{
	margin:  0;
	padding: 0.5em 0 0.5em 0.5em;
	color: red;
	font-weight: bold;
}

#admin-notice table.backtrace{
	font-size: small;
	color: #999;
}

#admin-notice span.args{
}

#admin-notice td.line{
	text-align: right;
}

#admin-notice span.null{
	color: #f55;
	font-style: italic;
}

#admin-notice span.true{
	color: #66f;
}

#admin-notice span.false{
	color: #f55;
}

#admin-notice span.string{
}

#admin-notice  span.array, span.object{
	cursor: pointer;
	font-style: italic;
}

#admin-notice span.args span.string{
	margin: 0.2em;
	font-weight: bold;
}

#admin-notice tr.object{
	display: none;
}

#admin-notice td.object{
	padding: 1em;
}

#admin-notice td.object{
	border: 0px solid black;
	padding-left: 5em;
}

#admin-notice th.args{
	text-align: right;
}
