
@CHARSET "utf-8";

div.op-dump-root{
	margin:  0 0 0 0 !important;
	padding: 0 0 0 0 !important;
	
	color: black;
	background-color: white;
	font-size: 9pt;
	display: table;
}

div.op-dump-root div{
	margin:  0 0 0 0 !important;
	padding: 0 0 0 0 !important;
}

div.op-dump-root table.op-dump-table{
	margin: 0 !important;
	margin-bottom: 1px !important;
	padding: 0 0 0 0 !important;
	
	border-width: 0px !important;
	border-style: solid;
	border-color: #ddd #aaa #aaa #ddd;
	
	border-collapse: separate !important;
	border-spacing: 0px !important;

	font-size: small;

	_display: table;
}

div.op-dump-root tr.op-dump-tr{
	margin:  0 0 0 0 !important;
	padding: 0 0 0 0 !important;
	_display: table-row;
}

div.op-dump-root th.op-dump-th{
	margin:  0 0 0 0 !important;
	padding: 1px 1px 0px 1px !important;
	
	font-weight: normal;
	
	vertical-align: top;
	_display: table-cell;
}

div.op-dump-root td.op-dump-td{
	margin:  0 0 0 0 !important;
	padding: 1px 1px 0px 0px !important;
	
	vertical-align: top;
	_display: table-cell;
}

.op-dump-ridge{
	border-width: 1px;
	border-style: solid;
	border-color: #ddd #aaa #aaa #ddd;
}

div.op-dump-root div.op-dump-key{
	margin:  3px 3px 2px 3px !important;
	padding: 0 !important;
}

div.op-dump-root div.op-dump-value{
	margin:  2px 3px 2px 3px !important;
	padding: 0 !important;
}

span.op-dump-value-string{
	vertical-align: -1px;
}

.op-dump-th .dkey{
	cursor:pointer;
}

.more{
	margin: 0.5em !important;
	padding: 1px 0.2em !important;
	
	border-width: 1px;
	border-style: solid;
	border-color: #ddd #aaa #aaa #ddd;
	
	cursor:pointer;
}

span.hidden{
  display: none;
}

span.string{
  color: #909090;
}

span.integer{
  color: #8f8fff;
}

span.double{
  color: #3030ff;
}

span.boolean{
  color: green;
}

span.object{
  color: orange;
}

span.resource{
  color: orange;
}

span.true{
  color: blue;
}

span.false{
  color: red;
}

span.null{
  color: red;
}

span.NULL{
  color: red;
}

.normal{
	font-weight: normal;
}

.italic{
	font-style: italic;
}
.gray{
	color: gray;
}

.ex{
	margin: 0.5em;
	font-weight: normal;
	font-style: italic;
}
